/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: Quacky;
    src: url(./assets/fonts/QuackeyFreeRegular-w1Ymz.otf);
    text-transform: lowercase;
}

body {
    display: flex;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-container {
    background-image: url('./assets/images/lindon_in_the_orus_trees_by_ladyeru_dg4trno-fullview.jpg');
    background-position: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    min-width: 40vw;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding-top: 12px;
    font-family: Quacky;
    background-color: rgb(0, 0, 0, .4);

    font-size: 150px;


    height: 250px;
    width: 100%;
    
}

.header-container>header {
    margin-top: 50px;
}

.footer-container {
    text-align: center;

    margin-bottom: 20px;
}

svg {
    fill: white;
    flex-shrink: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: stretch;
    font-weight: 500;
    font-size: 1.3em;
    width: 100%;
}

 .form-container header {
    background-color: #FFD2D7;
    
    height: 400px;
    padding-top: 200px;
    padding-left: 40px;

    font-size: 30px;
    font-weight: 600;
    flex-shrink: 2;
 }

form {
    padding: 40px;
    background-color: #322653;
    color: #9288F8;
    font-size: 1em;
    
    box-shadow: 0px 5px 5px black;
    position: relative;
    z-index: 2;
 }

.form-row {
    display: flex;
    margin: 30px;
 }

 .form-row>div  {
    display: flex;
    flex-direction: column;
 }

input {
    color: white;
    margin-right: 100px;
    width: 250px;
    border: none;
    background: #322653;
    border-bottom: 2px solid #9288F8;
    transition: 0.3s;
 }

 input:focus {
    outline: none;
    border-bottom: 8px solid #8062D6;
    border-radius: 5px;
    box-shadow: 0px 5px 5px -5px #8062D6;
    transform: scale(1.15) translateX(.9em);
 }

 input:not(:placeholder-shown):invalid {
  border-bottom: 2px solid red;
 }

 input::placeholder {
  color: #ffd2d788;
 }

 input:focus:invalid {
  border-bottom: 8px solid #8062D6;
 }


button {
    border: 3px solid #9288F8;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    margin: 30px;
    padding: 15px 25px;
    color: #9288F8;
    transition: 0.4s;

 }

  button:hover {
  transform: scale(1.15);
  color: #322653;
  background-color: #9288F8;

 }

 button:active {
  transform: scale(1);
 }

.form-container>p {
  color: #FFD2D7;
  background: #8062D6;
  padding: 70px;
  flex-grow: 1;
  
 }

.form-container>p>a {
  border: 4px solid #FFD2D7;
  border-radius: 6px;
  padding: 5px 20px;
  color: #FFD2D7;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.4s;
 }

 .form-container>p>a:hover {
  color:#8062D6;
  background-color: #FFD2D7;
 }

